
</body aling='center'>
  <h2>Gender Information</h2>

  <form action="" method="post">
    {% csrf_token %}

    <label for="height">Enter height:</label>
    <input type="text" id="height" name="height"> <br><br>

    <label for="weight">Enter weight:</label>
    <input type="text" id="weight" name="weight"><br><br>

    <label for="shoe_size">Enter shoe size:</label>
    <input type="text" id="shoe_size" name="shoe_size"><br><br>

    <input type="submit" value="Submit">

  </form>

</body>
